body {
  background:url("https://static.pexels.com/photos/5049/forest-trees-fog-foggy.jpg");
  background-size: cover;
  font-family:fantasy;
}
.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 30px;
}
.nav li {
 float: right;
}
.nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 5px 6px;
  text-decoration: none;
}
.nav li a:hover {
  background-color: #d1e1ff;
}
.header1{
  font-size: 70px;
  color: #010c30;
  text-align: center;
  border: 8px solid #c5ddff;
  margin: 600px;
  padding: 10px;
  background-color: #fbcd86;
}
.jumbotron{
  background-color: #fbcd86;
}
.big{
  font-size: 25px;
}
.about{
  font-size: 70px;
  text-align: center;
}
.me{
  width: 600px;
  height: 600px;
  display: block;
  margin: 0 auto;
  border: 8px solid #40415e;
  padding: 10px;
}
.border2{
  font-size: 25px;
  color: #010c30;
  text-align: center;
  border: 8px solid #40415e;
  margin: 5px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 10px;
  background-color: #ffe9c0;
}
.column1of2,.column2of2{
  font-size: 30px;
  width: 500px;
  float: right;
  margin-right: 450px;
  margin-left: 500px:
  margin: 10px;
  color: white;
}
.column1of2 h2, .column2of2 h2{
  font-size: 40px;
  text-decoration: underline;
}
.email{
  font-family: palatino;
  font-size: 30px;
  border: 4px solid #40415e;
  margin: 1200px;
  margin-right: 0px;
  padding: 10px;
  background-color: #ffe9c0;
}
